html {
    scroll-behavior: smooth;
}
nav {
    background: rgba(255, 255, 255, 0.5);
}

#nava {
    font-size: 30px;
    padding-left: 5em;

}

#navbarNavAltMarkup {
    padding-left: 30em;
}

.navbar-nav a {
    padding: 2px 1em !important;
    font-weight: 500;
}

.navbar-nav a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
}

/************************************************/

header {
    width: 100%;
    height: 710px;
    background-image: url(../img/head.jpg);
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}

#headerdiv {
    width: 30%;
    transform: translate(43%, 17em);
}

#headerdiv h1 {
    font-size: 50px;
    font-weight: 800;
    font-family: cursive;
}

#headerdiv p {
    padding: 3px 0px;
    font-size: 20px;
    font-weight: 500;
}

#headerdiv p::selection,
#headerdiv h1::selection {
    background-color: white;

}

/************************************************/
#section1div_h1 {
    width: 60%;
    padding: 50px 10px;
    font-weight: 900 !important;
}

#section1div_h1 h1::selection {
    background-color: silver;
    color: #000;
}

.section1 #doHover {
    transition-delay: 1s;
    transition: all .50s ease-out;
}

.section1 #doHover:hover {
    box-shadow: 3px 5px 7px black;
    border-radius: 10px;
}

/************************************************/
#button {
    background: rgba(255, 255, 255, 0.5);
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition-delay: 1s;
    transition: all .50s ease-out;
}

#button:hover {
    font-weight: 500;
    color: black;
    background-color: white;
    transform: translateX(9%);
}
#button2{
    background-color:#6e5dfd; 
    padding: 10px 20px;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    transition-delay: 1s;
    transition: all .50s ease-out;
}
#button:hover {
    font-weight: 500;
    color: black;
    background-color: white;
    transform: translateX(9%);
}
.section2 {
    padding-top: 10em;
}

.section2 .card-img-overlay {
    padding-left: 17rem;
    /*تعديل في الجوال واليباد*/
}

.section2 .card p {
    font-size: 20px;
}

.section2 .card,
.section2 .card img {
    border-radius: 10px;
    transition-delay: 1s;
    transition: all .50s ease-in-out;
}

.section2 .card:hover {
    box-shadow: 5px 5px 9px black, -3px -5px 9px black;
}

/************************************************/

.section3 #paddT13 {
    padding-top: 13rem;
    /*تعديل في الجوال واليباد*/
}

.section3 {
    padding-top: 5em;
}

.section3 #paddT15 {
    padding-top: 15rem;
}

.row img {
    border-radius: 10px;
}

.section3 h1::selection {
    background-color: silver;
    color: #0765bd;
}

.section4 button {
    background-color: #6e5dfd;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    transition-delay: 1s;
    transition: all .50s ease-in-out;
}

.section4 input {
    border-radius: 10px;
}

.section4 button:hover {
    background-color: #6e5dfd;
    color: white;
    padding: 5px 20px;
}

footer {
    padding-top: 5em;
    background-color: #6e5dfd;
}

#line {
    background-color: white;
    width: 60px;
    height: 3px;
    margin: 20px 0px 50px 0px;
}

footer p {
    margin-top: -19px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    transition-delay: 1s;
    transition: all .50s ease-in-out;
}

footer p:hover {
    transform: translateX(10px);
}

footer h5 {
    color: white;
    font-weight: 700;
}